@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-text-color: #ffffff;
  --secondary-text-color: #98c1d9;
  --accent-color: #18e9d9;
  --accent-color-dark: #2a9d8f;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--primary-text-color);
  background-color: #111111;
}

p {
  font-family: "Roboto", sans-serif;
  color: var(--secondary-text-color);
  line-height: 1.4rem;
}

a {
  text-decoration: none;
  color: var(--secondary-text-color);
}

ul {
  list-style: none;
}

.flex {
  display: flex;
  align-items: center;
}

.container {
  max-width: 1180px;
  margin-inline: auto;
  overflow: hidden;
}

nav {
  background-color: #111111;
  box-shadow: 0 0 4px #000000;
  position: fixed;
  top: 0;
  z-index: 99;
  left: 0;
  right: 0;
}

.main-nav {
  justify-content: space-between;
  padding-block: 8px;
}

.company-logo img {
  width: 120px;
  height: auto;
}

.nav-links ul {
  gap: 16px;
  cursor: pointer;
}

.hover-link:hover {
  color: var(--accent-color);
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.hover-link:active {
  color: #186d5d;
}

.nav-item.active {
  color: var(--accent-color);
}

.search-bar {
  height: 32px;
  gap: 8px;
}

.news-input {
  width: 200px;
  height: 100%;
  padding-inline: 12px;
  border-radius: 4px;
  border: 2px solid #333333;
  background-color: #222222;
  color: var(--secondary-text-color);
  font-family: "Roboto", sans-serif;
}

.search-button {
  background-color: var(--accent-color);
  color: white;
  padding: 8px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

.search-button:hover {
  background-color: var(--accent-color-dark);
}

main {
  padding-block: 20px;
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
  justify-content: center;
}

.card {
  width: 360px;
  min-height: 400px;
  box-shadow: 0 0 4px #000000;
  border-radius: 4px;
  cursor: pointer;
  background-color: #222222;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  transform-origin: center;
  position: relative;
  
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 1;
}

.card:hover {
  box-shadow: 1px 1px 8px #000000;
  background-color: #333333;
  transform: scale(1.05) perspective(800px) rotateX(5deg);
}

.card:hover::before {
  opacity: 1;
}

.card-header img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-content {
  padding: 12px;
}

.news-source {
  margin-block: 12px;
}
